<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>插槽使用</title>
    <style>
        li{
            list-style: none;
        }
    </style>
</head>
<body>
        <div id="app">
            <P>{{message}}</P>
            <my-p title="vue.js" ></my-p> 
             <ul>
                 <my-item v-for="item in list" :name="item.name" :age="item.age" :checked="item.checked">
                    <!-- 具名插槽 -->
                    <!-- <span slot="uf-icon"></span> 2.6之前语法-->
                    <template v-slot:pre-icon="{value}">
                        <span>作用域插槽:子组件传递过来的值: {{value}}</span>
                    </template>
                    <template v-slot:"uf-icon">
                            
                    </template>
                    <template v-slot:default>
                            我是一个默认插槽
                    </template>
                 </my-item>
             </ul>

             <my-list>
                 <template v-slot:default>
                        <my-item v-for="item in list" :name="item.name" :age="item.age" :checked="item.checked"></my-item>
                 </template>
             </my-list>
        </div>
      
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <script>

            Vue.component('my-p',{
                props:['title'],
                template:`
                    <p>测试{{title}}</p>
            `
            });


            //item 组件
            Vue.component('my-item',{
                props:{
                    name:String,
                    age:Number,
                    checked:{
                        type:Boolean,
                        default:false
                    }
                },
                template:`
                    <li>
                        <slot  name="pre-icon" :value="value"></slot>
                        <slot name="suf-icon" v-if="checked">😄</slot>
                        <input type="checkbox" v-model="checked"/>
                        <span>{{name}}</span>
                        <span>{{age}}</span>
                        <slot></slot>
                    </li>
                `,data:function(){
                    return{
                        value: Math.random()
                    }
                }
            });


            // list 组件
            Vue.component('my-list',{
                template:`
                    <ul>
                        <slot></slot>
                    </ul>
                `,data:function(){
                    return{
                      
                    }
                }
            });



            new Vue({
                el:'#app',
                data:function(){
                    return{
                        message:'Hello',
                        list:[
                            {
                                'name':'张三',
                                'age':'18',
                                'checked':true
                            },{
                                'name':'李四',
                                'age':'19',
                                'checked':true
                            },{
                                'name':'王五',
                                'age':'23',
                                'checked':true
                            },{
                                'name':'赵六',
                                'age':'21',
                                'checked':false
                            }
                        ]
                    }
                }
            });

            
        </script>
</body>
</html>